<launch>
	<arg name="imu_dev" default="/dev/ttyUSB0"/>
	<node pkg="loitor_stereo_visensor" name="loitor_stereo_visensor" type="loitor_stereo_visensor" output="screen">
		<param name="imu_port_name" value="$(arg imu_dev)"/>
	</node>
	<node pkg="ORB_SLAM2" name="Stereo"	type="Stereo" output="screen"/>
</launch>
